.tags {
    padding-left: 0;
}

.tag {
    --tag-color: var(--gray);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 12px 16px;
    margin: 8px;
    outline: 1px solid var(--tag-color);
    position: relative;
    margin-left: 0;
    transition: border 100ms, outline 100ms;
}

.tag::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 1px solid var(--tag-color);
    inset: 0;
    transition: border 100ms;
    background-color: transparent;
}

.tag:hover {
    --tag-color: var(--primary);
    border: 1px solid var(--primary);
}